/*
    Document   : javascripts/eloquentjs/Ch 15 - Game/platformerProject.css
    Created on : 2015-04-21 01:38 AM
    Author     : mcmillenb
    Description:
        style for the elements in the Eloquent Javascript game project
*/

.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
}

/* static elements */
.background    { background: rgb(52, 166, 251);
                 table-layout: fixed;    
                 border-spacing: 0;              }
.background td { padding: 0;                     }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;              }

/* dynamic elements */
.actor  { position: absolute;            }
.coin   { background: rgb(241, 229, 89); }
.player { background: rgb(64, 64, 64);   }

/* player */
.lost .player {
    background: rgb(160, 64, 64);
}
.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

/* hud */
#hud { font-family: Impact,Charcoal,sans-serif; }