/*
    Document   : javascripts/eloquentjs/Ch 19 - Paint Program/paintProgram.css
    Created on : 2015-06-06 07:44 PM
    Author     : mcmillenb
    Description:
    Stylesheet for the paint program
*/

* {
    margin: 5px 5px 5px 5px;
}